h1 {
    margin: 0;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 18px;
    font-style: normal;
}
.path{
    padding-top: 52px;
    padding-bottom: 41px;
    display: flex;
    justify-content: space-between;
}
.path-button{
    display:none;
}

.path-svg{
    margin-right: 12px;
}