.top-header {
    width:100%;
    background-color: #000000;  
}
.header-navigation {
    max-width: 940px;
    width:100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    padding:26px 0px;    
}
.header-navigation-list{
    display:flex;
    margin:0;
    padding:0;
}
.sign-in {
    padding-right:45px;
}
